<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>Hub</display-name>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

	<!-- Reference to SAP HANA provided by SAP HANA Cloud platform persistence service -->
	<resource-ref>
		<res-ref-name>jdbc/DefaultDB</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
	</resource-ref>

	<!-- OnStartListener will be started on application start and will trigger the setup
		 of required tables and views if they are not yet existing.-->
	<listener>
		<listener-class>com.acme.s4ext.jpa.dbsetup.DatabaseEntitySetupOnStartListener</listener-class>
	</listener>

	<!-- Enable authentication for the hub to protect it from unauthorized access.
	     To keep it simply, everyone with an SAP ID service login can access the hub.-->
	<login-config>
		<auth-method>BASIC</auth-method>
	</login-config>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Protected Area</web-resource-name>
			<url-pattern>/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>Everyone</role-name>
		</auth-constraint>
	</security-constraint>
	<security-role>
		<description>All SAP ID users</description>
		<role-name>Everyone</role-name>
	</security-role>
</web-app>
